<div class="container">
    <div class="main-content">
      <h2 class="header">INCIDENCIAS FINALIZADAS</h2>
      <div class="section">
        <h3 class="section-header">INCIDENCIAS</h3>
        <table class="cases-table">
          <thead>
            <tr>
              <th>No.</th>
              <th>Prioridad</th>
              <th>Estado Actual</th>
              <th>Solicitud</th>
              <th>Dependencia</th>
              <th>Categorización</th>
              <th>Iniciación</th>
              <th>Tipo de Incidencia</th>
              <th>Evaluación</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td></td>
              <td>Finalizado</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>5.0</td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <td>2</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <td>3</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <td>4</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <td>5</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="section-container">
        <div class="section diagnostico-section">
          <h3 class="section-header-evaluacion">INFORMACIÓN DE DIAGNÓSTICO</h3>
          <table class="diagnostico-table">
            <thead>
              <tr>
                <th>No.</th>
                <th>Fecha</th>
                <th>Estado</th>
                <th>Diagnóstico Inicial</th>
                <th>Solucionado</th>
                <th>Resolución</th>
                <th>Escalable</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>2</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  