.container {
  display: flex;
}

.menu-principal {
  width: 200px;
  height: 1000px;
  background-color: #ebe6e6;
  padding: 15px;
}

.menu-item {
  margin-bottom: 20px;
}

.menu-item h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.menu-item ul {
  list-style-type: none;
  padding: 0;
}

.menu-item ul li {
  margin: 10px 0;
}

.menu-item ul li a {
  text-decoration: none;
  color: black;
}

.menu-item ul li a.active {
  font-weight: bold;
  color: white;
  background-color: #077D35;
  border-radius: 50px;
  padding: 5px 15px; /* Ajusta los valores según sea necesario */
  position: relative; /* Asegura que el ::before se posicione relativamente al enlace */
}

.menu-item ul li a.active::before {
  content: '•'; /* Punto negro */
  color: black;
  font-size: 2em; /* Tamaño del punto, ajusta según sea necesario */
  position:   absolute;
  left: 2px; /* Ajusta la posición horizontal del punto */
  top: 50%;
  transform: translateY(-50%); /* Centra verticalmente el punto */
}

.main-content {
  flex-grow: 1;
  padding: 20px;
}

.header {
  background-color: #077D35;
  color: white;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  margin: 0 auto;
  width: 40%;
  min-width: 300px;
  max-width: 500px;
  margin-bottom: 50px;
  font-size: 1.8em;
}

.section {
  border: 2px solid #077D35;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 10px;
}

.section-header {
  background-color: #077D35;
  color: white;
  margin: -30px -10px 25px -10px;
  margin-left: 10px;
  padding: 10px;
  border-radius: 8px;
  max-width: 200px;
  font-size: 1.5em;
  text-align: center;
}

.section-header-evaluacion {
  background-color: #077D35;
  color: white;
  margin: -30px -10px 25px -10px;
  margin-left: 10px;
  padding: 10px;
  border-radius: 8px;
  max-width: 400px;
  font-size: 1.5em;
  text-align: center;
}

.cases-table, .diagnostico-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.cases-table th, .diagnostico-table th {
  background-color: #077D35; /* Verde */
  color: white; /* Blanco */
}

.cases-table th, .cases-table td, .diagnostico-table th, .diagnostico-table td {
  border: 1px solid #000000;
  padding: 8px;
  text-align: center;
}

.section-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 50px;
}

.diagnostico-section {
  flex: 1;
  margin-left: 350px;
  margin-right: 350px;
}


.evaluation-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.evaluation-form .form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.evaluation-form label {
  font-size: 1.3em;
}

.evaluation-form select {
  width: 100px;
  padding: 5px;
  font-size: 1.1em;
  background-color: #077D35;/* Verde */
  color: white; /* Blanco */
  border: none;
  border-radius: 4px;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0;
}

.form-actions button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #077D35;
  color: white;
  cursor: pointer;
}
