<router-outlet></router-outlet>
<div class="container">
  <div class="main-content">
    <h2 class="header">INFORMACIÓN DE LA INCIDENCIA</h2>
    <form>
      <div class="form-group">
        <div class="input-group nombre2">
          <label for="nombre">Nombre del Solicitador:</label>
          @for (Duser of DatosAdministrador; track Duser.peGe_DocumentoIdentidad) {
          <input [value]="Duser.nombreCompleto" disabled>
          }
        </div>
      </div>
      <div class="section">
        <h3 class="section-header">SOLICITANTE</h3>
        <div class="form-group">
          <div class="input-group short">
            <label for="identificacion">Identificación:</label>
            <input type="text" id="identificacion" name="identificacion" [(ngModel)]="identificacionUsuario"
              (keyup.enter)="buscarUsuario()">
          </div>
          <div class="input-group nombre">
            <label for="nombre">Nombre del Solicitante:</label>
            <input type="text" id="nombre" name="nombre" [value]="getNombreSolicitante()" disabled>
          </div>
          <div class="input-group short">
            <label for="cargo">Cargo:</label>
            <input type="text" id="cargo" name="cargo" class="short" [value]="getCargo()" disabled>
          </div>
          <div class="input-group short">
            <label for="dependencia">Dependencia:</label>
            <input type="text" id="dependencia" name="dependencia" [value]="getDependencia()" disabled>
          </div>
        </div>
      </div>
      <div *ngIf="showNotification" class="notification">
        {{ notificationMessage }}
      </div>

      <form (ngSubmit)="onSubmit()">
        <div class="section">
          <h3 class="section-header">SOLICITUD</h3>
          <div class="form-group">
            <div class="form-row">
              <div class="input-group short fecha-hora">
                <label for="fecha">Fecha y Hora:</label>
                <input type="datetime-local" id="fecha" name="fecha" [ngModel]="fechaHoraString" (ngModelChange)="onFechaHoraChange($event)" disabled="">
              </div>
              <div class="input-group short">
                <label for="categoria">Categoría:</label>
                <select id="categoria" name="categoria" (change)="onCategoriaSelected($event)">
                  <option value="">Seleccionar</option>
                  @for (categoria of catego; track categoria.caAr_Id) {
                  <option [value]="categoria.caAr_Id">{{ categoria.caAr_Nombre }}</option>
                  }
                </select>
              </div>
              <div class="input-group short">
                <label for="area-tecnica">Área técnica:</label>
                <select id="area-tecnica" name="area-tecnica" [(ngModel)]="incidencia.areaTecnica" (change)="onAreaTecnicaSelected($event)">
                  <option [ngValue]="0">Seleccionar</option>
                  @for (area of areasTec; track area.arTe_Id) {
                  <option [ngValue]="area.arTe_Id">{{area.arTe_Nombre }}</option>
                  }
                </select>
              </div>
              <div class="input-group short">
                <label for="soporte">Cargar Soporte:</label>
                <input type="file" id="soporte" name="soporte" accept="image/*" (change)="onFileSelected($event)">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="descripcion">Descripción:</label>
            <textarea id="descripcion" name="descripcion" rows="4" [(ngModel)]="incidencia.descripcion"></textarea>
          </div>
        </div>
        <div class="form-actions">
          <button type="submit">Envío</button>
          <button type="reset">Limpiar Formulario</button>
        </div>
      </form>
    </form>
  </div>
</div>