.container {
  display: flex;
}

.menu-principal {
  width: 200px;
  height: 873px;
  background-color: #ebe6e6;
  padding: 15px;
}

.menu-item {
  margin-bottom: 20px;
}

.menu-item h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.menu-item ul {
  list-style-type: none;
  padding: 0;
}

.menu-item ul li {
  margin: 10px 0;
}

.menu-item ul li a {
  text-decoration: none;
  color: black;
}

.menu-item ul li a.active {
  font-weight: bold;
  color: white;
  background-color: #077D35;
  border-radius: 50px;
  padding: 5px 15px; 
  position: relative; 
}

.menu-item ul li a.active::before {
  content: '•'; /* Punto negro */
  color: black;
  font-size: 2em; /* Tamaño del punto, ajusta según sea necesario */
  position: absolute;
  left: 2px; /* Ajusta la posición horizontal del punto */
  top: 50%;
  transform: translateY(-50%); /* Centra verticalmente el punto */
}

.main-content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-top: -50px;
}

.main-content img {
  max-width: 100%;
  height: auto;

}
