<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú Principal</title>
</head>
<body>
    <div class="container">
        <div class="menu-principal">
            <div class="menu-item">
                <h2>Menú Principal</h2>
                <ul>
                    <li><a href="#">Registrar</a></li>
                    <li><a href="#">Registrar Caso</a></li>
                    <li><a href="#">Mis casos Activos</a></li>
                    <li><a href="#">Mis casos Resueltos</a></li>
                    <li><a a class="enlace" href="https://acortar.link/EDjXWP">Disponibilidad de salas</a></li>


                </ul>
            </div>
        </div>
        <div class="main-content">
            <img src="assets/Fondo.jpeg" alt="Mesa de Servicios">
        </div>
    </div>
</body>
</html>
