html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  display: flex;
  margin: 0;
  padding: 0; /* Elimina cualquier padding adicional */
}

.menu-principal {
  width: 250px;
  background-color: #ece6e6;
  padding: 10px;
  margin: 0; /* Asegura que no haya margen */
  box-sizing: border-box; /* Incluye el padding dentro del ancho y alto */
}

.menu-item {
  margin-bottom: 20px;
}

.menu-item h2 {
  font-size: 1.8em;
  margin-bottom: 10px;
  text-align: center; /* Centra el título */
}

.menu-item ul {
  list-style-type: none;
  padding: 0;
}

.menu-item ul li {
  margin: 1px 0;
}

.menu-item ul li > a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  font-weight: bold; /* Negrita para los enlaces de primer nivel */
}

.menu-item ul li > ul {
  padding-left: 20px; /* Indentación para submenús */
}

.menu-item ul li > ul li a {
  font-weight: normal; /* Submenús sin negrita */
}

.menu-item ul li a.active {
  font-weight: bold;
  color: white;
  background-color: #077D35;
  border-radius: 50px;
  padding: 5px 15px;
  position: relative;
}

.menu-item ul li a.notactive {
  border-radius: 50px;
  padding: 5px 15px;
  position: relative;
}

.menu-item ul li a.active::before,
.menu-item ul li a.notactive::before {
  content: '•';
  color: black;
  font-size: 2em;
  position: absolute;
  left: 2px;
  top: 50%;
  transform: translateY(-50%);
}

.menu-item ul li a i {
  margin-right: 10px;
  font-size: 1.7em; /* Aumenta el tamaño del ícono */
}

/* Íconos personalizados */
.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: contain;
  margin-right: 10px;
}

.icon-register {
  background-image: url("../../../public/iconos/registro.png");
}

.icon-cases {
  background-image: url("../../../public/iconos/casos.png");
}

.icon-admin {
  background-image: url("../../../public/iconos/admin.png");
}

.icon-tools {
  background-image: url("../../../public/iconos/herramientas.png");
}

.icon-gestion {
  background-image: url("../../../public/iconos/gestion.png");
}

.main-content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-top: -50px;
}

.main-content img {
  max-width: 100%;
  height: auto;
}
