<router-outlet></router-outlet>
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú Principal</title>
</head>
<body>
    <div class="container">
        <div class="menu-principal">
            <div class="menu-item">
                <h2>Menú Principal</h2>
                <ul>
                    <li>
                        <a href="#"><i class="icon icon-register"></i>Registrar</a>
                        <ul>
                            <li><a routerLink="/registar-caso" class="notactive">Registrar Caso</a></li>
                            <li><a routerLink="/caso-excepcional" class="notactive">Registrar Caso Excepcional</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="icon icon-cases"></i>Mis casos</a>
                        <ul>
                            <li><a routerLink="/Caso-activo" class="notactive">Mis Casos Activos</a></li>
                            <li><a routerLink="/Caso-resuelto" class="notactive">Mis Casos Resueltos</a></li>
                        </ul>
                    </li>
                    <li>
                    <li><a href="#"><i class="icon icon-admin"></i>Administrador</a>
                        <ul>
                            <li><a routerLink="/gestion-casos" class="notactive">Casos</a></li>
                            <li><a routerLink="/Caso-historial" class="notactive">Historial de casos</a></li>
                            <li><a routerLink="/Admi-Rol" class="notactive">Administrar roles</a></li>
                        </ul>
                    </li>
                    <li><a href="#"><i class="icon icon-tools"></i>Herramientas</a>
                        <ul>
                            <li><a routerLink="/inventario-salas" class="notactive">Inventario de las salas</a></li>
                            <li><a href="https://chaira.uniamazonia.edu.co/Reservas/Views/Public/Salas.aspx?tipo=Sistemas" class="notactive" target="_blank" rel="noopener noreferrer">Disponibilidad de salas</a></li>
                        </ul>
                    </li>
                    <li><a href="#"><i class="icon icon-gestion"></i>Gestión de casos</a>
                        <ul>
                            <li><a routerLink="/Caso-Delegado" class="notactive">Casos delegados</a></li>
                            <li><a routerLink="/Caso-Finalizado" class="notactive">Casos finalizados</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-content">
            <img src="image/Fondo.png" alt="Mesa de Servicios">
        </div>
    </div>
</body>
</html>
