<div class="container">
  <div *ngIf="showNotification" class="notification">
    {{ notificationMessage }}
  </div>
  <div class="main-content">
    <h2 class="header">INCIDENCIAS DELEGADAS</h2>
    <div class="section">
      <h3 class="section-header">INCIDENCIAS</h3>
      <div class="table-container">
        <table class="cases-table">
          <thead>
            <tr>
              <th>No.</th>
              <th>Solicitante</th>
              <th>Documento Identidad</th>
              <th>Cargo</th>
              <th>Dependencia</th>
              <th>Teléfono Dependencia</th>
              <th>Categoría Técnica</th>
              <th>Área Técnica</th>
              <th>Descripción</th>
              <th>Fecha Registro</th>
              <th>Admin Responsable</th>
              <th>Prioridad</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let asignada of vistaasignada; let i = index"
              [class.selected-row]="selectedRowIndexP === asignada.inci_Id"
              (click)="onRowSelectP(asignada.inci_Id, asignada)">
              <td>{{ asignada.inci_Id }}</td>
              <td>{{ asignada.solicitante_NombreCompleto }}</td>
              <td>{{ asignada.solicitante_DocumentoIdentidad }}</td>
              <td>{{ asignada.cont_Cargo }}</td>
              <td>{{ asignada.unid_Nombre }}</td>
              <td>{{ asignada.unid_Telefono }}</td>
              <td>{{ asignada.categoriaAreaTecnica_Nombre }}</td>
              <td>{{ asignada.areaTecnica_Nombre }}</td>
              <td>{{ asignada.inci_Descripcion }}</td>
              <td>{{ asignada.inci_FechaRegistro | date:'dd/MM/yyyy HH:mm' }}</td>
              <td>{{ asignada.admin_NombreCompleto || 'Sin asignar' }}</td>
              <td>{{ asignada.prioridad_Tipo }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="section-diagnostico">
      <h3 class="section-header">DIAGNÓSTICO</h3>
      <div class="form-columns">
        <div class="left-column">
          <div class="form-group">
            <label for="fecha">Fecha y Hora:</label>
            <input type="text" id="fecha" name="fecha" [ngModel]="fechaHoraString" disabled>
          </div>
          <div class="form-group">
            <label>¿Incidencia Solucionada?</label>
            <div class="radio-group">
              <label>
                <input type="radio" name="solucionado" [(ngModel)]="diagnotico.inTr_Solucionado" [value]="true">
                <span>Sí</span>
              </label>
              <label>
                <input type="radio" name="solucionado" [(ngModel)]="diagnotico.inTr_Solucionado" [value]="false">
                <span>No</span>
              </label>
            </div>
          </div>
          <div class="form-group">
            <label for="Tipo">Tipo de solución:</label>
            <select id="Tipo" name="Tipo" (change)="onTipoSolucionSelected($event)"
              [disabled]="!diagnotico.inTr_Solucionado">
              <option value="">Seleccionar</option>
              @for (tipo of Tiposolucion; track tipo.inTrTiSo_Id) {
              <option [value]="tipo.inTrTiSo_Id">{{ tipo.inTrTiSo_Nombre }}</option>
              }
            </select>
          </div>
          <div class="form-group">
            <label>¿Escalable?</label>
            <div class="radio-group">
              <label>
                <input type="radio" name="escalable" [(ngModel)]="diagnotico.inTr_Escalable" [value]="true">
                <span>Sí</span>
              </label>
              <label>
                <input type="radio" name="escalable" [(ngModel)]="diagnotico.inTr_Escalable" [value]="false">
                <span>No</span>
              </label>
            </div>
          </div>
        </div>
        <div class="right-column">
          <div class="form-group">
            <label for="resolucion-caso">Resolución de la incidencia:</label>
            <textarea id="resolucion-caso" name="resolucion-caso" [(ngModel)]="diagnotico.inTr_descripcion"></textarea>
          </div>
        </div>
      </div>
      <div class="form-actions">
        <button type="button" (click)="onSubmit()">Enviar</button>
      </div>
    </div>
  </div>
</div>