.container {
  display: flex;
}

.selected-row {
  background-color: #077D35;
  color: white;
}

.table-container {
  max-height: calc(8 * 50px);
  overflow-y: auto;
  overflow-x: auto;
  justify-content: center;
}

.header {
  background-color: #077D35;
  color: white;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  margin: 0 auto;
  width: 40%;
  min-width: 300px;
  max-width: 500px;
  margin-bottom: 50px;
  font-size: 1.8em;
  margin-top: 10px;
}

.section {
  border: 2px solid #077D35;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 10px;
  margin: 10px;
}

.section-diagnostico {
  border: 2px solid #077D35;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 10px;
  max-width: 800px;
  max-height: 410px;
  margin-top: 50px;
  margin-left: 380px;
}

.section-header {
  background-color: #077D35;
  color: white;
  margin: -30px -10px 25px -10px;
  margin-left: 10px;
  padding: 10px;
  border-radius: 8px;
  max-width: 200px;
  font-size: 1.5em;
  text-align: center;
}

.form-columns {
  display: flex;
  justify-content: space-between;
}

.left-column {
  flex: 3;
}

.right-column {
  flex: 5;
}

/* Estilos corregidos para los grupos de formulario */
.form-group {
  margin-bottom: 15px;
}

.form-group > label {
  display: block;
  margin-bottom: 5px;
  font-size: 1.2em;
}

.form-group > div {
  display: flex;
  align-items: center;
}

.form-group > div label {
  display: inline-flex;
  align-items: center;
  margin-right: 20px;
  font-size: 1em;
}

.form-group input[type="radio"] {
  margin: 0;
  margin-right: 5px;
  vertical-align: middle;
}

.form-group > div label span {
  display: inline-block;
  vertical-align: middle;
}

.form-group input, .form-group textarea {
  padding: 10px;
  font-size: 1em;
  border: 2px solid #077D35;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 5px;
}

.form-group textarea {
  height: 75px;
}

.form-actions {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.form-actions button {
  padding: 10px 20px;
  background-color: #077D35;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#fecha {
  width: 70%;
}

.cases-table, .trazabilidad-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.cases-table th, .trazabilidad-table th {
  background-color: #077D35;
  color: white;
}

.cases-table th, .cases-table td, .trazabilidad-table th, .trazabilidad-table td {
  border: 1px solid #000000;
  padding: 8px;
  text-align: center;
}