<div class="container">
    <div class="main-content">
      <h2 class="header">INCIDENCIAS RESUELTAS</h2>
      <div class="section">
        <h3 class="section-header">INCIDENCIAS</h3>
        <table class="cases-table">
          <thead>
            <tr>
              <th>No.</th>
              <th>Fecha de Registro</th>
              <th>Descripción</th>
              <th>Prioridad</th>
              <th>Categoría Técnica</th>
              <th>Área Técnica</th>
              <th>Estado Actual</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let solicitada of vistasolicitud; let i = index"
                [class.selected-row]="selectedRowIndexP === solicitada.inci_Id"
                (click)="onRowSelectP(solicitada.inci_Id, solicitada)">
              <td>{{ i + 1 }}</td>
              <td>{{ solicitada.inci_FechaRegistro | date:'dd/MM/yyyy HH:mm' }}</td>
              <td>{{ solicitada.inci_Descripcion }}</td>
              <td>{{ solicitada.inPr_Nombre }}</td>
              <td>{{ solicitada.nombreCategoria }}</td>
              <td>{{ solicitada.areaTecnica }}</td>
              <td>{{ solicitada.inci_EstadoActual }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="section-container">
        <div class="section trazabilidad-section">
          <h3 class="section-header">TRAZABILIDAD</h3>
          <table class="trazabilidad-table">
            <thead>
              <tr>
                <th>No.</th>
                <th>Fecha</th>
                <th>Estado</th>
                <th>Descripción</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let traza of vistatrazabilidad; let i = index">
                <td>{{ vistatrazabilidad.length - i }}</td>
                <td>{{ traza.inTr_FechaGenerada }}</td>
                <td>{{ traza.trEs_Nombre }}</td>
                <td>{{ traza.trEs_Descripcion }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  