<div class="menu-principal">
    <div class="menu-item">
        <h2>Menú Principal</h2>
        <ul>
            <li>
                <a href="#"><i class="icon icon-register"></i>Registrar</a>
                <ul>
                    <li><a routerLink="/registar-caso" class="notactive">Registrar Caso</a></li>
                    <li><a routerLink="/caso-excepcional" class="notactive">Registrar Caso Excepcional</a></li>
                </ul>
            </li>
            <li>
            <li><a href="#"><i class="icon icon-admin"></i>Administrador</a>
                <ul>
                    <li><a routerLink="/casos" class="notactive">Casos</a></li>
                    <li><a routerLink="/historial-casos" class="notactive">Historial de casos</a></li>
                    <li><a routerLink="/roles" class="notactive">Administrar roles</a></li>
                    <li><a routerLink="/permisos" class="notactive">Administrar Permisos</a></li>
                </ul>
            </li>
            <li><a href="#"><i class="icon icon-tools"></i>Herramientas</a>
                <ul>
                    <li><a routerLink="/inventario-salas" class="notactive">Inventario de las salas</a></li>
                    <li><a routerLink="/disponibilidad-salas" class="notactive">Disponibilidad de salas</a></li>
                </ul>
            </li>
            <li><a href="#"><i class="icon icon-gestion"></i>Gestión de casos</a>
                <ul>
                    <li><a routerLink="/casos-delegados" class="notactive">Casos delegados</a></li>
                    <li><a routerLink="/casos-finalizados" class="notactive">Casos finalizados</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
