<div class="container">
    <div class="main-content">
        <div class="section">
            <h3 class="section-header">GESTIÓN DE ROL</h3>
            <div class="search-section">
                <div class="date-picker">
                    <label for="fecha-inicio">Identificación:</label>
                    <input type="text" id="identificacion" name="identificacion" [(ngModel)]="identificacionUsuario"
                        (keyup.enter)="buscarUsuario()">
                </div>
            </div>
            <table class="cases-table">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Nombre Completo</th>
                        <th>Cargo</th>
                        <th>Dependencia</th>
                        <th>Inicio de contrato</th>
                        <th>Fin de contrato</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let persona of DatosUsuario; let i = index"
                        [class.selected-row]="selectedRowIndex === i" (click)="onRowSelect(i, persona.cont_Id)">
                        <td>{{ i + 1 }}</td>
                        <td>{{ persona.nombreCompleto }}</td>
                        <td>{{ persona.tnom_Descripcion }}</td>
                        <td>{{ persona.unid_Nombre }}</td>
                        <td>{{ persona.cont_FechaInicio | date:'dd/MM/yyyy HH:mm'}}</td>
                        <td>{{ persona.fechaFinContrato | date:'dd/MM/yyyy HH:mm'}}</td>
                        <td>{{ persona.cont_EstadoContrato}}</td>
                    </tr>
                </tbody>

            </table>

            <div *ngIf="showNotification" class="notification">
                {{ notificationMessage }}
            </div>

            <div class="search-section">
                <div class="date-picker">
                    <label for="fecha-inicio">Designar Rol:</label>
                    <select id="role-select" (change)="onRolSelected($event)">
                        <option value="">Seleccionar</option>
                        @for (roles of vistaroles; track roles.usRo_Id) {
                        <option [value]="roles.usRo_Id">{{ roles.usRo_Nombre }}</option>
                        }
                    </select>
                </div>
                <button type="button" (click)="onSubmit()">Guardar</button>
                <button type="button">Eliminar Rol</button>
            </div>
        </div>

        <div class="section" id="usuarios" name="usuarios">
            <h3 class="section-header">USUARIOS</h3>
            <div class="search-section">
                <div class="date-picker">
                    <label for="fecha-inicio">Filtro por Estado:</label>
                    <select>
                        <option value="">Seleccione</option>
                        <option value="admin">Activo</option>
                        <option value="user">Inactivo</option>
                    </select>
                </div>
            </div>
            <table class="cases-table">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Identificación</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Rol</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>1080936545</td>
                        <td>Pepito</td>
                        <td>Perez</td>
                        <td>Auxiliar</td>
                        <td>Activo</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>2</td>
                        <td>1080936545</td>
                        <td>Pepito</td>
                        <td>Perez</td>
                        <td>Auxiliar</td>
                        <td>Activo</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>3</td>
                        <td>1080936545</td>
                        <td>Pepito</td>
                        <td>Perez</td>
                        <td>Auxiliar</td>
                        <td>Activo</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>4</td>
                        <td>1080936545</td>
                        <td>Pepito</td>
                        <td>Perez</td>
                        <td>Auxiliar</td>
                        <td>Activo</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>5</td>
                        <td>1080936545</td>
                        <td>Pepito</td>
                        <td>Perez</td>
                        <td>Auxiliar</td>
                        <td>Activo</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>6</td>
                        <td>1080936545</td>
                        <td>Pepito</td>
                        <td>Perez</td>
                        <td>Auxiliar</td>
                        <td>Activo</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>