<div class="container">
    <div class="menu-principal">
        <div class="menu-item">
            <h2>Menú Principal</h2>
            <ul>
                <li><a href="#">Registrar Caso</a></li>
                <li><a href="#">Mis casos activos</a></li>
                <li><a href="#">Administrador</a></li>
                <li><a href="#">Herramientas</a></li>
                <li><a href="#" class="active">Gestión de casos</a></li>
            </ul>
        </div>
    </div>
    <div class="main-content">
        <div class="section">
            <h3 class="section-header">GESTIÓN DE ROL</h3>
            <div class="search-section">
                <div class="date-picker">
                    <label for="fecha-inicio">Identificación:</label>
                    <input type="text" id="fecha-inicio">
                </div>
                <button type="button">Buscar</button>
            </div>
            <table class="cases-table">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Prioridad</th>
                        <th>Estado Actual</th>
                        <th>Solicitud</th>
                        <th>Dependencia</th>
                        <th>Categorización</th>
                        <th>Iniciación</th>
                        <th>Tipo de Caso</th>
                        <th>Teléfono</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>

            </table>

            <div class="search-section">
                <div class="date-picker">
                    <label for="fecha-inicio">Designar Rol:</label>
                    <select>
                        <option value="">Seleccione</option>
                        <option value="admin">Administrador</option>
                        <option value="user">Usuario</option>
                    </select>
                </div>
                <button type="button">Guardar</button>
                <button type="button">Eliminar Rol</button>
            </div>
        </div>

        <div class="section" id="usuarios" name="usuarios">
            <h3 class="section-header">USUARIOS</h3>
            <div class="search-section">
                <div class="date-picker">
                    <label for="fecha-inicio">Filtro por Estado:</label>
                    <select>
                        <option value="">Seleccione</option>
                        <option value="admin">Activo</option>
                        <option value="user">Inactivo</option>
                    </select>
                </div>
            </div>
            <table class="cases-table">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Identificación</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Rol</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>1080936545</td>
                        <td>Pepito</td>
                        <td>Perez</td>
                        <td>Auxiliar</td>
                        <td>Activo</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>2</td>
                        <td>1080936545</td>
                        <td>Pepito</td>
                        <td>Perez</td>
                        <td>Auxiliar</td>
                        <td>Activo</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>3</td>
                        <td>1080936545</td>
                        <td>Pepito</td>
                        <td>Perez</td>
                        <td>Auxiliar</td>
                        <td>Activo</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>4</td>
                        <td>1080936545</td>
                        <td>Pepito</td>
                        <td>Perez</td>
                        <td>Auxiliar</td>
                        <td>Activo</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>5</td>
                        <td>1080936545</td>
                        <td>Pepito</td>
                        <td>Perez</td>
                        <td>Auxiliar</td>
                        <td>Activo</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>6</td>
                        <td>1080936545</td>
                        <td>Pepito</td>
                        <td>Perez</td>
                        <td>Auxiliar</td>
                        <td>Activo</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    
</div>