<div class="container">
    <div class="main-content">
        <div class="section">
            <h3 class="section-header">GESTIÓN DE CASOS</h3>
            <div class="table-container">
                <table class="cases-table">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Nombre Solicitante</th>
                            <th>Cargo</th>
                            <th>Dependencia</th>
                            <th>Teléfono</th>
                            <th>Tipo de Caso</th>
                            <th>Área Técnica</th>
                            <th>Categoría</th>
                            <th>Descripción</th>
                            <th>Fecha Solicitud</th>
                            <th>Prioridad</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let incidencia of vistadatos; let i = index" [class.selected-row]="selectedRowIndex === i"
                        (click)="onRowSelect(i, vistadatos)">
                            <td>{{ i + 1 }}</td>
                            <td>{{ incidencia.nombreCompleto }}</td>
                            <td>{{ incidencia.cargo }}</td>
                            <td>{{ incidencia.nombreUnidad }}</td>
                            <td>{{ incidencia.telefonoUnidad }}</td>
                            <td>{{ incidencia.nombreCategoriaAreaTecnica }}</td>
                            <td>{{ incidencia.nombreAreaTecnica }}</td>
                            <td>{{ incidencia.nombreCategoriaAreaTecnica }}</td>
                            <td>{{ incidencia.descripcionIncidencia }}</td>
                            <td>{{ incidencia.fechaSolicitudIncidencia | date:'dd/MM/yyyy HH:mm' }}</td>
                            <td>{{ incidencia.prioridad }}</td>
                        </tr>
                    </tbody>
                </table>
        </div>
        <div *ngIf="mostrarDefault">
            <div class="filter-container">
                <div class="buttons">
                    <button (click)="mostrarSeccion('default')">Asignar</button>
                    <button (click)="mostrarSeccion('escalar')">Escalar</button>
                    <button (click)="mostrarSeccion('rechazar')">Rechazar</button>
                </div>

                <div class="filter-role">
                    <label for="role-select">Filtrar rol:</label>
                    <select id="role-select">
                        <option>Seleccione</option>
                        <option value="admin">Administrador</option>
                        <option value="user">Usuario</option>
                    </select>
                </div>
                <div *ngIf="showNotification" class="notification">
                    {{ notificationMessage }}
                  </div>
                <table class="cases-table-personal">
                    <tr>
                        <th>NO.</th>
                        <th>NOMBRE</th>
                        <th>ROL</th>
                        <th>NO. INCIDENCIAS</th>
                        <th>PROMEDIO</th>
                    </tr>
                    <tbody>
                        <tr *ngFor="let persona of vistapersonal; let usua_Id = index" [class.selected-row]="selectedRowIndexP === usua_Id"
                        (click)="onRowSelectP(usua_Id, vistapersonal)">
                            <td>{{ persona.usua_Id }}</td>
                            <td>{{ persona.nombreCompleto }}</td>
                            <td>{{ persona.rolNombre }}</td>
                            <td>{{ persona.incidenciasActivas }}</td>
                            <td>{{ persona.usua_PromedioEvaluacion }}</td>
                        </tr>
                    </tbody>
                </table>
                <button type="submit" class="assign-button" (click)="onSubmit()">Asignar</button>
            </div>
        </div>
        <div *ngIf="mostrarEscalar">
            <div class="filter-container">
                <div class="buttons">
                    <button (click)="mostrarSeccion('default')">Asignar</button>
                    <button (click)="mostrarSeccion('escalar')">Escalar</button>
                    <button (click)="mostrarSeccion('rechazar')">Rechazar</button>
                </div>

                <div class="filter-role-escalar">
                    <label for="role-select">Seleccionar Dependencia a Escalar:</label>
                    <select id="role-select">
                        <option>Seleccione</option>
                        <option value="admin">Biblioteca</option>
                        <option value="user">Registro y Control</option>
                    </select>
                </div>
                <button type="button" class="assign-button">Enviar</button>
            </div>
        </div>
        <div *ngIf="mostrarRechazar">
            <div class="filter-container">
                <div class="buttons">
                    <button (click)="mostrarSeccion('default')">Asignar</button>
                    <button (click)="mostrarSeccion('escalar')">Escalar</button>
                    <button (click)="mostrarSeccion('rechazar')">Rechazar</button>
                </div>

                <div class="filter-role-escalar">
                    <label for="role-select">Escriba el Motivo del Rechazo:</label>
                    <textarea id="Motivo" name="Motivo" rows="4"></textarea>
                </div>
                <button type="button" class="assign-button">Enviar</button>
            </div>
        </div>
    </div>
</div>