.container {
    display: flex;
  }
  
  
  .main-content {
    flex-grow: 1;
    padding: 20px;
    margin-top: 20px;
  }
  
  .header {
    background-color: #077D35;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    margin: 0 auto;
    width: 40%;
    min-width: 300px;
    max-width: 500px;
    margin-bottom: 50px;
    font-size: 1.8em;
  }
  
  .section {
    border: 2px solid #077D35;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 10px;
  }
  
  .section-header {
    background-color: #077D35;
    color: white;
    margin: -30px -10px 25px -10px;
    margin-left: 10px;
    padding: 10px;
    border-radius: 8px;
    max-width: 300px;
    font-size: 1.5em;
    text-align: center;
  }
  
  .section-header-evaluacion {
    background-color: #077D35;
    color: white;
    margin: -30px -10px 25px -10px;
    margin-left: 10px;
    padding: 10px;
    border-radius: 8px;
    max-width: 400px;
    font-size: 1.5em;
    text-align: center;
  }
  
  .cases-table, .trazabilidad-table, .cases-table-personal {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    table-layout: fixed; /* Para mantener un ancho uniforme en las columnas */
  }
  
  .cases-table th, .trazabilidad-table th, .cases-table-personal th {
    background-color: #077D35; /* Verde */
    color: white; /* Blanco */
  }
  
  .cases-table th, .trazabilidad-table th, 
  .cases-table td, .trazabilidad-table td,
  .cases-table-personal th, .cases-table-personal td {
    border: 1px solid #000000;
    padding: 8px;
    text-align: center;
  }

  .cases-table th:nth-child(1),
  .cases-table td:nth-child(1) {
    width: 2%; /* Columna "No." toma solo el 5% del ancho */
  }

  .cases-table th:nth-child(4),
  .cases-table td:nth-child(4) {
    width: 5%; /* Columna "No." toma solo el 5% del ancho */
  }

  .cases-table th:nth-child(9),
  .cases-table td:nth-child(9) {
    width: 15%; /* Columna "No." toma solo el 5% del ancho */
  }

  .cases-table-personal th:nth-child(1),
  .cases-table-personal td:nth-child(1){
    width: 15%;
  }


  .selected-row {
    background-color: #077D35; /* Color de fondo para la fila seleccionada */
    color: white; /* Color del texto para la fila seleccionada */
}

  .table-container {
      max-height: calc(8 * 50px); /* Altura para mostrar las primeras 8 filas (ajusta el valor según la altura de las filas) */
      overflow-y: auto; /* Scroll vertical */
      overflow-x: auto; /* Scroll horizontal */
  }
  
  .section-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 50px;
  }
  
  .trazabilidad-section {
    flex: 1.5;
    margin-left: 100px;
    
  }
  
  .evaluacion-section {
    flex: 2;
    margin-right: 100px;
  }
  
  .evaluation-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .evaluation-form .form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .evaluation-form label {
    font-size: 1.3em;
  }
  
  .evaluation-form select {
    width: 100px;
    padding: 5px;
    font-size: 1.1em;
    background-color: #077D35;/* Verde */
    color: white; /* Blanco */
    border: none;
    border-radius: 4px;
  }

  .input-group {
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .form-actions {
    display: flex;
    justify-content: flex-end;
    padding: 10px 0;
  }
  
  .form-actions button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #077D35;
    color: white;
    cursor: pointer;
  }
  
  .filter-container {
    width: 50%; /* Ajusta al ancho deseado */
    margin: 20px auto; /* Centra el contenedor en la página */
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    display: flex;
    flex-direction: column; /* Organiza los elementos en columna */
    align-items: center; /* Alinea todos los elementos al centro */
    margin-top: 55px;
}


.buttons button {
    background-color: #077D35;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    justify-content: center;
    padding: 15px 30px; 
    font-size: 16px;
}

.buttons button:hover {
    background-color: #077D35;
}

.filter-role {
    margin: 20px 0;
    display: flex;
    align-items: center;
}


.filter-role label {
    margin-right: 10px;
    font-size: 1.5em;
}

textarea#Motivo {
  height: 150px;
  width: 650px; /* Ajusta la altura según la preferencia */
  resize: none; /* Elimina la posibilidad de cambiar el tamaño horizontalmente */
}

.filter-role select {
  padding: 10px;
  font-size: 1.3em;
  border: 2px solid green;
  border-radius: 4px;
  margin-bottom: 10px;
  width: 60%; /* Ensure inputs take the full width of their container */
  box-sizing: border-box; /* Include padding and border in element's total width and height */
}

.filter-role-escalar {
    display: flex;
    flex-direction: column; /* Asegura que la etiqueta y el select estén en columnas */
    align-items: center; /* Centra los elementos horizontalmente */
    width: 100%; /* Ajusta el ancho como necesites */
    margin-bottom: 20px; /* Espacio antes del botón enviar */
    margin-top: 50px;
}

.filter-role-escalar label {
    margin-right: 10px;
    font-size: 1.4em;
}

.filter-role-escalar select {
    padding: 8px 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-top: 15px;
}

.filter-role-escalar textarea{
    width: 500px;
    height: 100px;
    font-size: 1.5em;
}

.assign-button {
    background-color: #077D35;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 15px 20px;
    cursor: pointer;
    display: block;
    width: 15%;
    margin-top: 20px;
    justify-content: center;
}

.assign-button:hover {
    background-color: #077D35;
}

.notification {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 15px 20px;
  background-color: #077D35;
  color: white;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  z-index: 1000;
  animation: fadeInOut 5s ease-in-out;
}

@keyframes fadeInOut {
  0%, 100% { opacity: 0; }
  10%, 90% { opacity: 1; }
}