.container {
  display: flex;
}

.menu-principal {
  width: 200px;
  background-color: #D9D9D9;
  padding: 15px;
}

.menu-item {
  margin-bottom: 20px;
}

.menu-item h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.menu-item ul {
  list-style-type: none;
  padding: 0;
}

.menu-item ul li {
  margin: 10px 0;
}

.menu-item ul li a {
  text-decoration: none;
  color: black;
}

.menu-item ul li a.active {
  font-weight: bold;
  color: white;
  background-color: #077D35;
  border-radius: 50px;
  padding: 5px 15px; /* Ajusta los valores según sea necesario */
  position: relative; /* Asegura que el ::before se posicione relativamente al enlace */
}

.menu-item ul li a.active::before {
  content: '•'; /* Punto negro */
  color: black;
  font-size: 2em; /* Tamaño del punto, ajusta según sea necesario */
  position:   absolute;
  left: 2px; /* Ajusta la posición horizontal del punto */
  top: 50%;
  transform: translateY(-50%); /* Centra verticalmente el punto */
}

.main-content {
  flex-grow: 1;
  padding: 20px;
}

.header {
  background-color: #077D35;
  color: white;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  margin: 0 auto; /* Centers the header horizontally */
  width: 40%; /* Adjust this value to control the width */
  min-width: 300px; /* Ensure it doesn't get too narrow */
  max-width: 500px; /* Ensure it doesn't get too wide */
  margin-bottom: 50px;
  font-size: 1.8em;
}

.section {
  border: 2px solid #077D35;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 10px;
  margin-bottom: 50px;
}

.section-header {
  background-color: #077D35;
  color: white;
  margin: -30px -10px 25px -10px;
  margin-left: 10px;
  padding: 10px;
  border-radius: 8px 8px 8px 8px;
  max-width: 150px;
  font-size: 1.5em;
  text-align: center;
}

.form-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
  margin-left: 70px;
}

.form-group .input-group {
  flex-basis: 30%; /* Adjust this to control the width of each input group */
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  margin-left: 50px;
}

.form-group label {
  margin-bottom: 5px;
  font-size: 1.7em;
  font-weight: bold;
}

.form-group input,
.form-group select,
.form-group textarea {
  padding: 10px;
  font-size: 1.3em;
  border: 2px solid green;
  border-radius: 4px;
  margin-bottom: 10px;
  width: 100%; /* Ensure inputs take the full width of their container */
  box-sizing: border-box; /* Include padding and border in element's total width and height */
}

.form-group input.short,
.form-group select.short {
  width: 80%; /* Make the shorter inputs take less horizontal space */
  max-width: 250px; /* Limit the maximum width of the shorter inputs */
}

@media (max-width: 768px) {
  .form-group {
      flex-direction: column;
  }
  .form-group .input-group {
      flex-basis: 100%; /* The input groups will take full width in small screens */
  }
}

.form-actions {
  display: flex;
  justify-content: flex-end;
}

.form-actions button {
  margin-left: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #077D35;
  color: white;
  cursor: pointer;
}

.form-actions button[type="reset"] {
  background-color: #ccc;
  color: black;
}
