<div class="modal-container">
    <h2 class="modal-title">Escalar Internamente</h2>
    <div class="modal-content">
      <div class="filter-container">
        <div class="filter-role">
          <label for="role-select">Filtrar rol:</label>
          <select id="role-select" (change)="onRolSelected($event)">
            <option value="">Seleccionar</option>
            @for (roles of vistaroles; track roles.usRo_Id) {
              <option [value]="roles.usRo_Id">{{ roles.usRo_Nombre }}</option>
            }
          </select>
        </div>
        <div class="table-container">
          <table class="cases-table-personal">
            <thead>
              <tr>
                <th>NO.</th>
                <th>NOMBRE</th>
                <th>ROL</th>
                <th>NO. INCIDENCIAS</th>
                <th>PROMEDIO</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let persona of vistadatos; let i = index"
                  [class.selected-row]="selectedRowIndexP === persona.usua_Id"
                  (click)="onRowSelectP(persona.usua_Id, persona)">
                <td>{{ i +  1 }}</td>
                <td>{{ persona.nombreCompleto }}</td>
                <td>{{ persona.rol }}</td>
                <td>{{ persona.incidenciasActivas }}</td>
                <td>{{ persona.promedioEvaluacion }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="modal-actions">
      <button class="button-cancel" (click)="onCancel()">Cancelar</button>
      <button class="button-assign" (click)="onSubmit()">Asignar</button>
    </div>
  </div>